.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}
